<div class="col-md-4">
        <div style="padding: 15px 10px">
            <div class="input-group box-shadow--2dp">
                <span class="input-group-addon" style="border-top-left-radius:0; border-bottom-left-radius:0; border:none ">
                    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
                </span>
                <input size="37px" style="padding: 7px; border:none; height:55px; resize:both" class="edit" value="<%= title %>">
            </div>
        </div>
</div>